
  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 360px;
    background:#fff;
  }
  
 #menu {
    position: absolute;
    top:10px;
    right:80px;
    width: 40px;
    height: 40px;
  } 
  @media only screen and (max-width: 600px) {
    #menu {
      outline: none;
      border: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      cursor: pointer;
    position: absolute;
    top:10px;
    right:0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 310px;
    background:#fff;
  }
   }
  /* ul,
  li {
    margin: 0;
    padding: 0;
  } */
  
  #list {
    padding: 25px;
    position: absolute;
    top: 100px;
    left: 20px;
    bottom: 0;
    width: 230px;
    
  } 
  
  #lists {
    list-style: none;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
  }
  
  .text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    flex: 1;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(39, 33, 33, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  } 
  